.Add-Dish{
    padding-top: 5%;
}

.componant-AddDish{
    background-color:lightskyblue;
          padding: 20px;
          padding-top: 2%;
          border-radius: 8px;
          width: 300px;
          margin: 0 auto;
}
