*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.componant{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color:black;
    color: white;
    height: 3rem;
}
.brand{
    margin-left: 2rem;
    color: white ! important
}